body{
    background-color: #ffffff;
    padding: 15px;
    color: #060606; 
}

h1{
    text-align: center;
}
header{
    background-color: #060606;
    color:#ffffff;
    padding: 45px;
}


*{
margin: 0;
padding: 0;
}
.modernhaz {
margin: 0 auto;
width: 1000px;


}

.modernhaz{
    width: 200px;
}
nav{
    text-align: center;
    
}
nav ul {
    list-style: none;
}
nav ul li{
    display: inline;
    margin-right: 20px;
}
.rolunk{
text-align: center;  
}

